*::selection{
  color:white;
  background-color: #203c5d;
}

body{
  margin:0;
  user-select: none;
  cursor:default;
}

#welcome{
  font-family: Tahoma, Verdana, sans-serif;
  border: 3px outset rgb(0, 187, 255);
  border-radius: 15px;
  padding: 7px;
  background-color: #112D4E;
  color:#DBE2EF;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 0px 0px 10px black;
}

#welcome:hover{
  color:#203c5d;
  box-shadow: 0px 0px 15px #265f9b;
  background-color:#DBE2EF;
  border-color:white;
  cursor:default;
}

.maindiv{
  position: sticky;
  top: 20px;
  z-index: 10;
}

.nbar ul{
  text-align: center;
  font-family: parkinsans;
  list-style-type: none;
  background-color: #112D4E;
  padding: 0px;
  margin-left: 15%;
  margin-right: 15%;
  overflow: hidden;
  border-radius: 17px;
  border: 3px outset rgb(0, 187, 255);
  box-shadow: 0px 5px 20px black;
}

.nbar a{
  text-decoration: none;
  color:#F9F7F7;
  padding: 10px;
  display: block;
}

#key{
  background-color: #265f9b;
}

.nbar a:hover{
  background-color:#265f9b;
}

.nbar li{
  float:left;
}

.nbar #special{
  cursor: default;
  display: block;
  color:#DBE2EF;
  font-size: larger;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  float: right;
  padding-top: 8px;
  padding-right: 20px;
}

.INFO{
  font-family: parkinsans;
  font-size:1.3em;
  color:white;
  background-color:#203c5d;
  border-radius: 10px;
  padding:5px;
  padding-left:30px;
  padding-right:30px;
  margin-left:21%;
}

.INFO::selection{
  color:#203c5d;
  background-color:#DBE2EF;
}

.INFO:hover{
  background-color: #265f9b;
  animation-name: info;
  animation-duration:0.7s;
  animation-fill-mode: forwards;
}

.INFO:not(:hover){
  animation-name: releaseinfo;
  animation-duration:1s;
}

@keyframes info {
  to{box-shadow: 0px 10px 15px black}
}

@keyframes releaseinfo {
  from{box-shadow: 0px 10px 15px black}
  to{box-shadow: 0px 0px 0px black}
}

#mainform{
  text-align:center;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom:20px;
  background-color:#DBE2EF;
  margin-left:20%;
  margin-right:20%;
}

#foot{
  background-color: #112D4E;
  text-align: center;
  padding-bottom: 1px;
}

#made{
  color: #DBE2EF;
  padding-top: 20px;
}

#copy{
  color:#DBE2EF;
  padding-top: 20px;
}

.icons{
  padding-top:20px;
  text-align:center;
  color:#DBE2EF;
}

.fa-brands.fa-html5.fa-4x{
  padding-right:10px;
}

.fa-brands.fa-css3-alt.fa-4x{
  padding-left:10px;
}

.contact{
  display:block;
  text-align: center;
  color: #203c5d;
  font-size: 1.2em;
  font-family: parkinsans;
}

#username{
  color:#265f9b;
  background-color:#F9F7F7;
  border-radius: 10px;
  border-color: #265f9b;
  padding:10px;
  align-items: center;
}

#email{
  color:#265f9b;
  background-color:#F9F7F7;
  border-radius: 10px;
  border-color: #265f9b;
  padding:10px;
  align-items: center;
}

#message{
  color:#265f9b;
  background-color:#F9F7F7;
  border-width: 2px;
  border-radius: 10px;
  border-color: #265f9b;
  padding:10px;
  align-items: center;
}

#submit{
  color:#DBE2EF;
  background-color: #112D4E;
  border: 2px solid #265f9b;
  border-radius: 15px;
  padding:10px;
  padding-left:20px;
  padding-right:20px;
  font-family: parkinsans;
  font-size:larger;
}

#submit:hover{
  cursor:pointer;
  background-color:#265f9b;
}